@media (min-width: 48rem) {
  :root {
    --fs-h2: clamp(2.5rem, 1.25rem + 4vw, 4rem); /* ~64px */
  }

  /* ===== Navigation ===== */

  .hero__navigation {
    position: relative;
  }

  .hero__navigation--list {
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
    margin-inline-start: auto;
  }

  .no_js {
    display: none;
  }

  /* Navigation items styling */
  .navigation__item {
    border: none;
    color: var(--color-text);
    transition: color 0.3s;
  }

  /* Hover effects */
  .navigation__item:hover {
    color: var(--color-primary);
  }

  .hero {
    background-image: url("../assets/herogif.gif"), var(--color-radiant);
    /* background-position: 100% 100%; */
    background-position: 50vw 0rem, 60vw 40%;
    /* background-size: 55vw auto, 40vw 40vw; */
    background-size: 55vw auto, 40vw 40vw;
    background-repeat: no-repeat;
  }

  .hero__content {
    flex-direction: row;
    align-items: flex-start;
    margin-inline: 4rem;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    text-align: left; /* Left margin from original mobile styles */
  }

  /* Style text container */
  .hero__content--text {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    text-align: left; /* Left margin from original mobile styles */
    width: 60%;
  }

  /* Reset margins for desktop layout */
  .hero__title {
    margin-block-start: 0;
    /* justify-content: flex-start; */
  }

  .hero__paragraph {
    margin-block-start: 4rem;
    max-width: 35vw;
  }

  .hero__paragraph,
  .hero__button {
    margin-inline-start: 8rem;
  }

  /* ===== Hamburger ===== */
  .hamburger {
    display: none; /* Hidden by default */
  }

  .hero__image--gif {
    display: block;
  }





.chapterI {
    display: grid;
    grid-template-columns: 5vw 0.6fr 0.4fr 5vw;
    grid-template-rows: repeat(1fr 20vh 20vh 1fr 40vh);
}

.chapterI__title { 
    grid-area: 1 / 1 / 2 / 5; 
}

.chapterI__section--1{
    grid-area: 2 / 2 / 4 / 3;
}

.chapterI__section--2{
    grid-area: 3 / 3 / 5 / 4;
}



.chapterI__paragraph {
    max-width: 30rem;
}
.chapterI__paragraph--1 {
    margin-block-start: -8rem;
    margin-inline-start: 6vw;
}

.chapterI__section--4 {
    grid-area: 5 / 1 / 6 / 5;
    position: relative;
}

.chapterI__paragraph--3 {
    position: absolute;
    margin-block-start: 10vh;
    margin-inline-start: 11vw;
}

.chapterI__paragraph--4 {
    position: absolute;
    margin-block: 90vh;
    margin-inline-start: 54vw;
}

.chapterI__image--interaction {
    position: absolute;
    z-index: -1;
}

.chapterI__image--interaction--top {
  opacity: 0;
  transition: opacity 0.3s ease;
  mask-image: radial-gradient(
    circle at var(--x) var(--y),
    black 0%, /* Fully visible at the center */
    black 80px, /* Start fading out */
    transparent 160px /* Fully hidden at the edge */
  );
  -webkit-mask-image: radial-gradient(
    circle at var(--x) var(--y),
    black 0%, /* Fully visible at the center */
    black 80px, /* Start fading out */
    transparent 160px /* Fully hidden at the edge */
  );
  cursor: none;
}

.chapterI__image--interaction--bg {
    opacity: 0.1;
}

.background__text--grid {
    overflow: visible;
    display: block;
    inset-block-start: -10rem;
    inset-inline-start: -5rem;
    grid-area: 4 / 1 / 5 / 3;
}



}

/* ===== Print Styles ===== */
@media print {
  :root {
    --color-bg: transparent;
    --color-text: #000;
  }

  img {
    display: none !important;
  }
}

/* ===== Accessibility ===== */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}


@media (min-width: 60rem) {
    .hero {
        background-size: contain, 30rem 30rem;
    }
}

