@media (min-width: 48rem) {
  :root {
    --fs-h2: clamp(2.5rem, 1.25rem + 4vw, 4rem); /* ~64px */
    
  }

  /* ===== Navigation ===== */





  .no_js {
    display: none;
  }


  .hero {
    background: none;
  }
  /* Navigation items styling */
.hero__navigation {
    display: grid;
    grid-template-columns: 1fr auto; /* First column takes remaining space, second column takes auto width */
}

.hero__navigation--list {
    transition: color 0.3s;
    display: flex;
    justify-content: flex-end;
    width: 60vw;
    padding: var(--space-xs) var(--space-sm);
    grid-column: 2; /* Place the list in the second column */
}

  

  .navigation__item {
    padding-block: 0; /* Remove vertical padding */
    border: none; /* Remove border */
    width: auto; /* Reset width */
    text-align: center; /* Align text to the left */
  }

  .navigation__item:hover {
    color: var(--color-primary);
  }

  .hero__content {
    display: flex;
    flex-direction: row;
    margin-inline-start: 2rem;
    padding: 0
  }

    .hero__paragraph {
      padding-block-start: 2rem;
      max-width: 30vw;
    }
    .hero__paragraph, .hero__button {
      margin-inline-start: 6rem;
        }

      
    

    .hero__title {
    text-align: left;
    margin: 0; 
    }

  
  .hero__content--text {
    display: flex;
    flex-direction: column;
    
  }
  



  .hero__gif {
    display: block;
    background-image: var(--color-radiant);
    background-size: 40vw 40vw;
    width: 40%;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
  }



  /* ===== Hamburger ===== */
  .hamburger {
    display: none; /* Hidden by default */
  }

 





.chapterI {
    display: grid;
    grid-template-columns: 5vw 0.6fr 0.4fr 5vw;
    grid-template-rows: repeat(auto auto auto auto auto);
}

.chapterI__title { 
    grid-column: 1 / -1;
}

.chapterI__section--1{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.chapterI__section--2 {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}



.chapterI__paragraph {
    padding-inline-start: 2rem;
    max-width: 40vw;
}
.chapterI__paragraph--1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.chapterI__paragraph--2 {
    padding-inline-start: 2rem;
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}

.chapterI__section--4 {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    grid-template-columns:5vw 0.6fr 0.4fr 5vw;
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chapterI__paragraph--3 {
  grid-area: 1 / 2 / 2 / 3;
}

.chapterI__paragraph--4 {
  grid-area: 2 / 3 / 3 / 5;
}

.chapterI__image--interaction {
    grid-area: 1 / 1 / 3 / 5;
    inset-block-start: 0;
    z-index: -1;
}

.chapterI__image--interaction--top {
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-mask-image: radial-gradient(
    circle at var(--x) var(--y),
    black 0%, /* Fully visible at the center */
    black 80px, /* Start fading out */
    transparent 160px /* Fully hidden at the edge */
  );
  cursor: none;
}

.chapterI__image--interaction--bg {
    display: block;
    opacity: 0.1;
}

.background__text--grid {
    overflow: visible;
    display: block;
    inset-block-start: -10rem;
    inset-inline-start: -5rem;
    grid-area: 4 / 1 / 5 / 3;
}

.chapterII {
  display: flex;
  flex-direction: column;
  
}

.chapterII__section--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chapterII__image--1 {
  padding-block-start: 4rem;
  max-height: 40vh; /* Maximum height is 40% of the viewport height */
  width: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Ensure the image fits within the constraints */
}
.chapterII__image--wrapper::after {
  width: 40vw;
}
.chapterII__paragraph {
  /* padding: 0; */
  margin: 0;
}

.chapterII__paragraph--1 {
  justify-content: center;
  text-align: center;
  max-width: 50vw;
}

.chapterII__section--2{
  display: grid;
  grid-template-columns:5vw 2fr 1fr 5vw;
  grid-template-rows: 1fr 1fr auto;
  align-items: center;

}

.chapterII__image--2 {
  grid-area: 1 / 2 / 3 / 4;
  height: auto;
  width: 100%; /* Maintain aspect ratio */
}



.chapterII__paragraph--2 {
  grid-area: 1 / 2 / 2 / 3;
  padding-block-start: 12rem;
  padding-inline: 6rem;
  color: var(--color-text);
}
.chapterII__paragraph--3 {
  grid-area: 3 / 2 / 4 / 4;
  
  padding-inline: 10vw;
  text-align: center;
}

}

/* ===== Print Styles ===== */
@media print {
  :root {
    --color-bg: transparent;
    --color-text: #000;
  }

  img {
    display: none !important;
  }
}

/* ===== Accessibility ===== */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}


@media (min-width: 60rem) {
    .hero {
        background-size: contain, 30rem 30rem;
    }
}

